body {
    padding-top:50px;
}
fieldset {
    border: thin solid #ccc;
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb; 

    background-image:url(https://cdn-icons-png.flaticon.com/128/8620/8620543.png);
    /* -webkit-background-size:cover;
-o-background-size:cover; */
/* -moz-background-size:cover; */
/* background-image:calc(100); */
/* background-size:initial; */
/* background-position: center;*/
  background-repeat: no-repeat;
 /* background-size: cover; */
    /* background-image repeating-radial-gradient() */
}
legend {
   color: #678;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}